dj-database-url==0.5.0
Django==4.0.5
django-cors-headers==3.13.0
django-mathfilters==1.0.0
djangorestframework==3.13.1
djangorestframework-simplejwt==5.2.0
whitenoise==6.1.0
gunicorn==20.1.0
ptyprocess==0.7.0
pure-eval==0.2.2
pycodestyle==2.9.1
pycparser==2.21
Pygments==2.13.0
PyJWT==2.4.0
python-dateutil==2.8.2
pytz==2022.1
PyYAML==5.4.1
pyzmq==24.0.1
urllib3==1.26.10
wcwidth==0.2.5
Werkzeug==2.2.2
whichcraft==0.6.1
whitenoise==6.2.0
wsproto==1.1.0
zope.event==4.5.0
zope.interface==5.4.0
