.posts-container {
    margin-top: 100px;
}

.posts-container-title {
    width: 100%;
    font-size: 23px;
    background-color: white;
    font-weight: bolder;
}

.small-screen-create-post {
    position: fixed;
    z-index: 99;
    bottom: 12%;
    right: 5%;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--skyblue-color);
}

.bi-plus {
    color: white;
    font-size: 30px;
}

.create-post {
    background-color: white;
    text-align: center;
}

.post-header {
    align-items: center;
}

.username {
    text-decoration: none;
    color: black !important; 
    font-weight: bolder;
}

.user-icon-img {
    width: 15%;
    min-width: 55px;
    border-radius: 50%;
}

.post-datetime {
    color: #8d9498;
    font-size: 12px
}

.number-of-likes {
    font-size: 10px;
}

.bi-heart-fill {
    color: red;
}

.post-btn-group {
    display: flex;
    justify-content: center
}

.view-more-button {
    position: absolute;
    right: 0;
    bottom: 0;
    cursor: pointer;
}

.dropdown-menu {
    min-width: 5rem !important;
}

.dropdown-item:active {
    background-color: white;
    color: black;
}

@media screen and (max-width: 768px) {
    .post-btn-group {
        justify-content: space-evenly;
    }
}

.post-btn-group > button {
    margin: 0 5px;
}

.bi-heart,
.bi-heart-fill,
.bi-chat-left-dots,
.bi-share,
.bi-three-dots {
    font-size: 20px;
}

.bi-check2 {
    color: #8d9498;
    font-size: 20px;
}

.bi-x {
    color: #8d9498;
    font-size: 25px;
}

.edit-post {
    display: flex;
}

textarea {
    border-radius: 10px;
    border-color: #e3e3e3;
    padding: 10px;
    outline: 0;
    resize: none;
}