.profile-header {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 100%;
    background-color: white;
}

.logout-section {
    position: absolute;
    right: 0;
    margin-right: 50px;
}

@media screen and (max-width: 768px) {
    .profile-header {
        margin-top: 70px;
    }

    .logout-section {
        margin-right: 18px;
    }
}

.profile-info {
    justify-content: center;
    align-items: center;
}

#username {
    font-size: 18px;
    font-weight: bolder;
}

.profile-status {
    display: flex;
    justify-content: space-evenly;
}

#user-post-number, #user-follower-number, #user-following-number {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.user-icon {
    width: 15%;
    min-width: 75px;
    border-radius: 50%;
}

.follow-btn-groups {
    width: 100%;
    justify-content: center;
}

.follow-btn-groups > button {
    width: 35%;
}